extends sidebar.pug
block contents
    .container-fluid
        .row.bg-title
            .col-lg-3.col-md-4.col-sm-4.col-xs-12
            h4.page-title Trả phòng
        .row
            .col-md-4.col-xs-12
                .white-box
                    .user-bg
                        img(width='100%' alt='user' src='/imgs/img1.jpg')
                        .overlay-box
                            .user-content
                                a(href='#')
                                    img.thumb-lg.img-circle(src='/imgs/varun.jpg' alt='img')
                                h4.text-white= info.customer.fullname
                                h5.text-white= info.customer.numberphone
                    .user-btm-box
                        .col-md-4.col-sm-4.text-center
                            p.text-purple
                            i.ti-facebook
                            h1 Total:
                        .col-md-4.col-sm-4.text-center
                            p.text-blue
                            i.ti-twitter
                            h1 125,000
            .col-md-8.col-xs-12
                .white-box
                    form(method='POST').form-horizontal.form-material
                        .form-group
                            label.col-md-12 Họ và tên
                            .col-md-12
                                input.form-control.form-control-line(type='text' disabled placeholder=`${info.customer.fullname}`)
                        .form-group
                            label.col-md-12 Phone No
                            .col-md-12
                                input.form-control.form-control-line(type='text' disabled placeholder=`${info.customer.numberphone}`)
                        .form-group
                            label.col-md-12 Chứng minh thư
                            .col-md-12
                                input.form-control.form-control-line(type='text' disabled placeholder=`${info.customer.customer_id}`)
                        .form-group
                            label.col-sm-12 Phòng đặt
                            .col-sm-12
                                input.form-control.form-control-line(type='text' disabled placeholder=`${info.room.room_name}`)
                        .form-group
                            .col-sm-12
                                button(type='submit').btn.btn-success Trả phòng