extends sidebar.pug
block contents
    .container-fluid
        .row.bg-title
            .col-lg-3.col-md-4.col-sm-4.col-xs-12
            h4.page-title Quản lí khách hàng
        .row
            .col-md-12.col-lg-12.col-sm-12
                .white-box
                    .col-md-3.col-sm-4.col-xs-6.pull-right
                    h3.box-title Danh sách khách thuê
                    .table-responsive
                        table.table
                            thead
                                tr
                                    th.text-center #
                                    th.text-center Họ và tên
                                    th.text-center Số căn cước
                                    th.text-center Số điện thoại
                                    th.text-center Giờ vào
                                    th.text-center Tác vụ
                            tbody
                                each val, index in listCustomer
                                    tr.text-center
                                        td=index
                                        td.txt-oflo=val.fullname
                                        td= val.customer_id
                                        td= val.numberphone
                                        td.txt-oflo= new Date(val.createdAt).toLocaleString()
                                        td
                                            a(href=`/customer/${val.id}`)
                                                div
                                                    i.fa.fa-edit &nbsp;&nbsp;
                                                    span.text-danger Edit
                                