extends sidebar.pug
block contents
    .container-fluid
        .row.bg-title
            .col-lg-3.col-md-4.col-sm-4.col-xs-12
            h4.page-title Dashboard
        .row
            .col-lg-4.col-sm-6.col-xs-12
                .white-box.analytics-info
                    h3.box-title Số khách đang thuê
                    ul.list-inline.two-part
                        li
                            #sparklinedash
                        li.text-right
                            i.ti-arrow-up.text-success
                            span.counter.text-success 85
            .col-lg-4.col-sm-6.col-xs-12
                .white-box.analytics-info
                    h3.box-title Số phòng đã thuê
                    ul.list-inline.two-part
                        li
                            #sparklinedash2
                        li.text-right
                            i.ti-arrow-up.text-purple
                            span.counter.text-purple 30
            .col-lg-4.col-sm-6.col-xs-12
                .white-box.analytics-info
                    h3.box-title Số phòng trống
                    ul.list-inline.two-part
                        li
                            #sparklinedash3
                        li.text-right
                            i.ti-arrow-up.text-info
                            span.counter.text-info 15
        .row
            .col-md-12.col-lg-12.col-sm-12
                .white-box
                    .col-md-3.col-sm-4.col-xs-6.pull-right
                    h3.box-title Danh sách khách vừa thuê
                    .table-responsive
                        table.table
                            thead
                                tr
                                    th #
                                    th Họ và tên
                                    th Số căn cước
                                    th Số điện thoại
                                    th Giờ vào
                            tbody
                                each val, index in listCustomer
                                    tr
                                        td= index
                                        td.txt-oflo= val.fullname
                                        td= val.customer_id
                                        td= val.numberphone
                                        td.txt-oflo= new Date(val.createdAt).toLocaleString()
                                
block scripts
    script(src='js/waypoints/lib/jquery.waypoints.js')
    script(src='js/counterup/jquery.counterup.min.js')
    script(src='js/toast-master/js/jquery.toast.js')
    script(src='js/jquery-sparkline/jquery.sparkline.min.js')
    script(src='js/dashboard.js')     