extends sidebar.pug
block contents
    .container-fluid
        .row.bg-title
            .col-lg-3.col-md-4.col-sm-4.col-xs-12
            h4.page-title Quản lí phòng
        .row
            .col-md-12.col-lg-12.col-sm-12
                .white-box
                    .col-md-3.col-sm-4.col-xs-6.pull-right
                    h3.box-title Danh sách phòng
                    .table-responsive
                        table.table
                            thead
                                tr
                                    th #
                                    th Số phòng
                                    th Loại phòng
                                    th Trạng thái
                                    th Tác vụ
                            tbody
                                each val, index in listRoom
                                    tr
                                        td=index
                                        td.txt-oflo
                                            b=val.room_name
                                        td=val.type.type_name
                                        if val.status.status_label == 'Empty'
                                            td
                                                span.text-success Empty
                                            td
                                                a(href=`/control/checkin/${val.id}`)
                                                    div
                                                        i.fa.fa-exchange &nbsp;&nbsp;
                                                        span.text-danger Checkin
                                        else if val.status.status_label == 'Busy'
                                            td
                                                span.text-danger Busy
                                            td
                                                a(href=`/control/checkout/${val.id}`)
                                                    div
                                                        i.fa.fa-exchange &nbsp;&nbsp;
                                                        span.text-danger Checkout
                                        else
                                            td
                                                span.text-warning 'Pending'
                                            td
                                                a(href=`/control/checkin/${val.id}`)
                                                    div
                                                        i.fa.fa-exchange &nbsp;&nbsp;
                                                        span.text-danger Checkin
                                